@import url(../top/topnbottom.css);

.pageuslugi{
    width: 100%;
    height: 100%;
    background: url(uslugiimage/back1.png);
    background-size:100%;
    background-repeat: no-repeat;
    margin: auto;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    align-items: center;

}

body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background: #080808;
}



.preuslugi{
    width: 1096px;
    height: 407px;
    flex-shrink: 0;
    margin-top: 7px;
    display: inline-flex;
    justify-content: space-between;
}

.rectangle{
    width: 407px;
    height: 407px;
    flex-shrink: 0;
    border-radius: 71px;
    background: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recttext{
    width: 652px;
    height: 407px;
    flex-shrink: 0;
    border-radius: 71px;
    background: #FAFAFA; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.textlinewide{
    width: 362px;
    height: 3px; 
    background: #285EE8; 
}

.ourcompany{
    width: 518px;
    height: 119px;
    flex-shrink: 0;
    font-weight: 600;
    font-size: 20px; 
}

.textlinethin{
    width: 241px;
    height: 3px;
    background: #285EE8; 
}

.weship{
    width: 518px;
    height: 120px;
    flex-shrink: 0;
    font-size: 20px; 
    font-weight: 600; 
}

.uslugi{
    width: 1170px;
    height: 1046px;
    flex-shrink: 0;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tile{
    width: 570px;
    height: 507px;
    flex-shrink: 0; 
    display: flex;
    align-items: end;
    justify-content: center;
}

.tileback{
    width: 570px;
    height: 371px;
    flex-shrink: 0;
    border-radius: 71px;
    background: #FAFAFA;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.margin-136{
    margin-top: -136px;
}

.moreabout{
    width: 327px;
    height: 68px;
    flex-shrink: 0; 
    border-radius: 71px;
    background: linear-gradient(129deg, #FFD747 39.86%, #FFE68E 80.7%), #D9D9D9;
    font-size: 24px;
    font-weight: 600;  
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.alsowehave{
    margin-top: 30px;
    width: 770px;
    height: 164px;
    flex-shrink: 0;
    border-radius: 71px;
    background: #FAFAFA; 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.btns{
    width: 502.53px;
    height: 44px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
}

.alsowehavebtn{
    width: 248.985px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 38px;
    background: linear-gradient(92deg, #FFD747 23.12%, #FFE68E 85.21%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px; 
    font-weight: 600;
    cursor: pointer;
}